@if (authService.user()) {
  <div class="relative" (mouseenter)="menuOpen.set(true)" (mouseleave)="menuOpen.set(false)">
    <!-- User -->
    <div class="flex cursor-pointer items-center gap-2 px-3 py-2">
      <i class="fa-regular fa-circle-user"></i>
      <h5 class="text-bold">Hello! {{ authService.user()?.username }}</h5>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </div>
    @if (menuOpen()) {
      <div
        class="absolute right-0 top-full z-50 mt-1 w-50 overflow-hidden rounded-lg border border-gray-200 bg-white shadow-2xl"
      >
        <!-- Header -->
        <div class="flex items-center justify-between border-b border-gray-100 px-5 py-4">
          <span class="text-sm text-gray-700"> Your Account</span>
        </div>
        <!-- Menu -->
        <a routerLink="/profile" class="flex gap-4 px-5 py-3 text-[15px] hover:bg-gray-50">
          <i class="lucide lucide-package h-5 w-5 text-gray-500"></i> <span>My Profile</span>
        </a>
        <a routerLink="/orders" class="flex gap-4 px-5 py-3 text-[15px] hover:bg-gray-50">
          <i class="lucide lucide-package h-5 w-5 text-gray-500"></i> <span>Orders</span>
        </a>
        <a routerLink="/wishlist" class="flex gap-4 px-5 py-3 text-[15px] hover:bg-gray-50">
          <i class="lucide lucide-heart h-5 w-5 text-gray-500"></i> <span>Wishlist</span>
        </a>
        <a routerLink="/rewards" class="flex gap-4 px-5 py-3 text-[15px] hover:bg-gray-50">
          <i class="lucide lucide-gift h-5 w-5 text-gray-500"></i> <span>Rewards</span>
        </a>
        <!-- Logout -->
        <button
          class="flex w-full gap-4 border-t border-gray-100 px-5 py-3 text-left text-red-600 hover:bg-red-50"
          (click)="clearSession()"
        >
          <i class="lucide lucide-log-out h-5 w-5"></i> Logout
        </button>
      </div>
    }
  </div>
} @else {
  <app-login-button></app-login-button>
}
