@keyframes confetti {
  0% {
    transform: translateY(-120px) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(500px) rotate(720deg);
    opacity: 0;
  }
}

.animate-confetti {
  top: -20px;

  animation: confetti 3s linear infinite;
}
